

.blog{

    min-height: 450px;


    .blogItem{

        cursor: pointer;

        img{
            width: 100%;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }

        h5{
            font-size: 18px !important;
            font-weight: 600 !important;
            color: var(--primary-color);
        }

        p{
            font-size: 14px !important;
            text-align: start;
            font-weight: 400 !important;
        }
    }
}