.aboutSoftware {

    h2,
    p {
        z-index: 10;
    }

    p {
        color: var(--text-color) !important;
    }

    .appDownloadIcon {

        width: 50%;
        text-align: start;
        cursor: pointer;
    }


    .aboutImg {
        position: relative; // Ensure positioning context
        text-align: center;

        img {
            width: 70%;
            position: relative; // Ensure it's above the pseudo-element
            z-index: 2; // Keep image above the gradient

            @media (max-width:992px) {
                &{
                    width: 40%;
                }
            }

        }



    }

    .featureItem {
        margin-top: 30px !important;

        i {
            font-size: 28px;
            color: var(--secondary-color);
        }

        h3 {
            color: var(--primary-color);
        }

        p {
            font-size: 14px !important;
            font-weight: 400 !important;
        }
    }

}